body {
	color: black;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	width: 99.5%;
	height: 760px;
	position: relative;
	/*border: solid green 2px;*/
}



#icon {
	position: absolute;
	left: 45px;
	top: -200px;
	transform:translateX(-50%);
	left: 50%;
	/*border: solid red 2px;*/
}

#name {
	position: absolute;
	font-family: 'Lancelot';
	font-size: 20px;
	top: 680px;
	z-index: 10;
	transform: translateX(-50%);
	left: 650px;
	transform: scale(5);
	/*border: solid blue 1px;*/
}

.a {
	text-decoration: none;
	background-color: none;
	color: black;
}

.button {
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*.button:hover {
	opacity: 0.5;
}*/

.textbut:hover{
	background-color: white;
	opacity: 0.5;
	cursor: pointer;
}

.bottext {
	text-decoration: none;
	background-color: none;
	color: black;
	font-size: 20px;
	width: 127px;
	height: 127px;
	border-radius: 62.5px;
	text-align: center;
	vertical-align: middle;
	line-height: 126px;
	/*border: solid red 1px;*/
}

.botleft{
	position: absolute;
	left: 34.05%;
	top: 452px;
	z-index: 11;
}

.botright{
	position: absolute;
	right: 34.1%;
	top: 452px;
}

.toptext {
	text-decoration: none;
	background-color: none;
	color: black;
	width: 122px;
	height: 122px;
	border-radius: 62.5px;
	text-align: center;
	vertical-align: middle;
	line-height: 125px;
	/*border: solid red 1px;*/
}

.topleft{
	position: absolute;
	top: 146px;
	left: 26.3%;
}

.topright{
	position: absolute;
	top: 146px;
	right: 26.4%;
}
