body {
	color: black;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	width: 99.5%;
	height: 2432px;
	position: relative;
	/*border: solid green 2px;*/
}

#topbar {
	position: relative;
	font-size: 25px;
	width: 100%;
	height: 170px;
	/*border: solid red 2px;*/
}

.header{
	width: 1000px;
	height: 115px;
	margin: auto;
	display: block;
	position: relative;
	/*border: solid yellow 2px;*/
}

#logo{
	width: 200px;
	position: absolute;
	left: -40px;
	bottom: -50px;
}

#name{
	position: absolute;
	bottom: 20px;
	color: #3D5356;
	left: 150px;
	font-size: 40px;
	letter-spacing: .1rem;
	/*border: solid green 1px;*/
}

.appt {
	position: absolute;
	bottom: 25px;
	color: #919B9B;
	right: 50px;
	font-size: 20px;
	/*border: solid green 1px;*/
}

.header a {
	text-decoration: none;
}

.navbar {
	height: 50px;
	position: absolute;
  background-color: #AFE3E8;
	bottom: 0;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

.navbar a {
  float: left;
  display: block;
  color: #86B0B7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  color: white;
}

.navbar a.active {
  color: #3E5151;
}

#navbox{
	display: block;
	margin: auto;
	width: 1000px;
	/*border: solid red 2px;*/
}

#nav {
	width: 110px;
	padding-left: 103px;
}

#leftend{
	padding-left: 0px;
}

#container{
	position: relative;
	width: 1000px;
	display: block;
	margin: auto;
	top: 55px;
	height: 1560px;
	/*border: solid yellow 2px;*/

}



.carousel-container {
	width: 1000px;
	margin: auto;
	height: 500px;
	overflow: hidden;
	position: relative;
	z-index: 20;
	/*border: solid black 1px;*/
}

#carousel {
	width: 4000px;
	height: 100%;
	margin-left: 0px;
	-webkit-transition: all 0.3s;
}


.carousel-item {
	width: 998px;
	position: relative;
	height: 100%;
	float: left;
	color: blue;
	overflow: hidden;

	/*border: solid red 1px;*/
}

.car_img {
	transform: scale(.75);
}




#carousel-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  left: 30px;
  top: 45%;
  margin-top: -30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
	opacity: .4;
}

#carousel-prev:hover{
	opacity: 1;
}

/* Styling for the carousel next button */
#carousel-next {
  position: absolute;
  width: 40px;
	height: 40px;
  padding: 10px;
  right: 30px;
  top: 45%;
  margin-top: -30px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
	opacity: .4;
}

#carousel-next:hover{
	opacity: 1;
}

.quote {
	position: absolute;
	font-size: 36px;
	color: black;
	font-weight: 700;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
 	transform: translateX(-50%) translateY(-50%);
}

.text1 {
	position: absolute;
	font-size: 36px;
	color: white;
	font-weight: 700;
  top: 50%;
  left: 35%;
	font-family: 'Lora', serif;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
 	transform: translateX(-50%) translateY(-50%);
}

.service-link-container {
	width: 1000px;
	margin: auto;
	position: absolute;
	height: 230px;
	display: block;
	margin-top: 20px;
	/*border: solid blue 2px;*/

}

.service-link {
	display: inline-block;
	width: 324.5px;
	height: 230px;
	position: relative;
	overflow: hidden;
	text-align: center;
	text-decoration: none;

	/*border: solid green 1px;*/
}

.mid {
	margin-left: 10px;
	margin-right: 10px;
}

.service-img {
	height: 100%;
	z-index: -10;
	opacity: .6;
	filter: brightness(70%);
}

/*.service-link:hover {
	opacity: .4;
}*/

.service-text{
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	bottom: 0;
	z-index: 10;
	color: gray;
	font-size: 25px;
	width: 100%;
	height: 40px;
	margin: auto;
	padding-top: 10px;
	transition: .5s;
	/*border: solid red 1px;*/
}

.service-text:hover{
	background-color: rgba(255, 255, 255, 0.8);
	height: 80px;
	padding-top: 40px;
	color: #86B0B7;
	cursor: pointer;

}

#office-hours{
	position: absolute;
	width: 100%;
	top: 810px;
	left: 0px;
}

iframe{
	position: absolute;
	left: 0;
	bottom: 0;
}

.visit{
	position: absolute;
	right: 0px;
	bottom: 0;
	height: 380px;
}

#bottom {
	position: absolute;
	bottom: 0;
	background-color: #E5DFDA;
	width: 100%;
	height: 200px;
	text-align: center;
}

.bottom-text{
	width: 1000px;
	top: 120px;
	-webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
 	transform: translateX(-50%) translateY(-50%);
	position: absolute;
}


.bigbox {
	width: 100%;
	background-color: #F2F2F2;
	position: absolute;
	text-align: center;
	margin-bottom: 40px;
	/*border: solid red 1px;*/
	position: relative;
	height: 100px;
	overflow: hidden;
	transition: 1s;
}

.bigbox-active{
	height: 420px;
}

/*.bigbox-inactive{
	height: 100px;
	overflow: hidden;
}*/

.bigbox-inactive:hover{
	cursor: pointer;
}

.boxtext{
	font-family: 'Lora', serif;
	letter-spacing: .3rem;
	font-size: 28px;
	position: absolute;
	margin-top: 30px;
	width: 100%;
	/*left: 242px;*/
	/*border: solid green 2px;*/
}

.whitebox{
	width: 900px;
	height: 200px;
	background-color: white;
	position: absolute;
	left: 28px;
	top: 110px;
	/*border: solid red 2px;*/
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	letter-spacing: .05em;
	line-height: 1.5;
	/*border: dotted blue 1px;*/
	padding: 20px;
}

.close{
	position: absolute;
	width: 100%;
	height: 70px;
	top: 350px;
	/*border: dotted red 1px;*/
}

.close:hover{
	cursor: pointer;
}


.up-arrow{
	position: absolute;
	bottom: 15px;
	left: 460px;
	opacity: .4;
}

.up-arrow:hover{
	opacity: 1;
	cursor: pointer;
}


#irlen-box{
	width: 100%;
	height: 220px;
	background-color: #F2F2F2;
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
	position: relative;
	font-family: 'Lora', serif;
	font-size: 28px;
	letter-spacing: .3rem;
	line-height: 220px;
	width: 100%;
	/*border: solid red 1px;*/
	text-decoration: none;
}

#irlen-link{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	/*border: solid blue 1px;*/
}

#irlen-link:hover{
	background-color: rgba(255, 255, 255, 0.5);
}
